@import './normalize.css';
@import './utils.less';

html,
body {
	font-family: Sen, 'PingFang SC', 'Microsoft YaHei', sans-serif;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	font-size: 1vmax;
	color: #270031;
}

#app,
#threejs,
#background {
	.fullScreen();
}

#background {
	z-index: -2;
}

#threejs {
	z-index: -1;
}

#app {
	z-index: 1;
}

#wapper {
	height: 400%;
}

#app {
	& > div[id^='page'] {
		box-sizing: border-box;
		display: flex;
		height: 100%;
		width: 100%;
	}
}

#page1 {
	nav {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;
		justify-items: end;
		align-items: center;
		flex-direction: row;
		box-sizing: border-box;
		justify-content: flex-end;
		padding: 1vmin 2vmin;
		a,
		.select {
			font-size: 1.2vmax;
			position: relative;
			display: block;
			padding: 0.5vmin 2vmin;
			color: rgba(0, 0, 0, 0.6);
			opacity: 0.45;
			border-radius: 5px;
			& > svg {
				margin-top: 0.2vmax;
				width: 1.3vmax;
				height: 1.3vmax;
			}
			&:hover {
				opacity: 1;
				background-color: rgba(0, 0, 0, 0.06);
			}
		}
		.select {
			opacity: 1;
			padding: 0;
			.options {
				display: none;
				position: absolute;
				bottom: 0;
				left: 50%;
				padding: 1vmin;
				transform: translateX(-50%) translateY(100%);
				background-color: rgba(0, 0, 0, 0.03);
			}
			&:hover .options {
				display: block;
			}
		}
	}
	.selfIntro {
		.detail {
			max-width: 30vmax;
			margin-top: 0;
			margin-bottom: 0;
			line-height: 1.414;
		}
		.state {
			margin: 0 auto 1vmin;
		}
	}
}

.skill-icons > svg {
	max-width: 3.5vmin;
	filter: grayscale(1);
	transition: all 0.3s;
	margin-right: 0.5vw;
	&:hover {
		filter: grayscale(0);
	}
}
