@import './normalize.css';
@import './utils.less';

html,
body {
	font-family: Sen, sans-serif;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	font-size: 16px;
}

#app,
#threejs,
#background {
	.fullScreen();
}

#background {
	z-index: -2;
}

#threejs {
	z-index: -1;
}

#app {
	z-index: 1;
}

#wapper {
	height: 400%;
}

#app {
	& > div[id^='page'] {
		box-sizing: border-box;
		display: flex;
		height: 100%;
		width: 100%;
	}
}

#page1 {
	nav {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;
		justify-items: end;
		align-items: center;
		flex-direction: row;
		box-sizing: border-box;
		justify-content: flex-end;
		padding: 1vmin 2vmin;
		a,
		.select {
			position: relative;
			display: block;
			padding: 0.5vmin 2vmin;
			color: rgba(0, 0, 0, 0.6);
			opacity: 0.45;
			border-radius: 5px;
			&:hover {
				opacity: 1;
				background-color: rgba(0, 0, 0, 0.06);
			}
		}
		.select {
			opacity: 1;
			padding: 0;
			.options {
				display: none;
				position: absolute;
				bottom: 0;
				left: 50%;
				padding: 1vmin;
				transform: translateX(-50%) translateY(100%);
				background-color: rgba(0, 0, 0, 0.03);
			}
			&:hover .options {
				display: block;
			}
		}
	}
}

.main {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	align-content: center;
	padding: 0 2vmin;
	& > * {
		width: 100%;
	}
}

.skill-icons > svg {
	filter: grayscale(1);
	transition: all 0.2s;
	&:hover {
		filter: grayscale(0);
	}
}
