.fullScreen {
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
}

a {
	text-decoration: none;
}

.h1 {
	font-weight: 800;
	font-size: 8.5vmax;
}

.h2 {
	font-size: 2.25vmax;
	font-weight: 600;
}

.h3 {
	font-size: 1.75vmax;
	font-weight: 600;
}

.h4 {
	font-size: 1.15vmax;
	font-weight: 600;
}

.newh {
	margin: 0;
}
