{% if post.top %}
    <span class="post-meta-divider">|</span>
    <i class="fa fa-thumbtack" style="vertical-align: baseline;margin-top: 5px;"></i>
    <font>置顶</font>
    <span class="post-meta-divider">|</span>
{% endif %}

<script>
    CONFIG.hostname = location.hostname;
</script>